body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-image: url("../assets/images/banner.png");
}


.banner-text {
    margin-top: 4%;
    padding: 0 5% 0 5%;
    margin-left: 6%;
}

.banner-title {
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.75rem;
}

.banner-paragraph {
    text-align: justify;
    color: #2E3142;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    font-size: 1.25rem;
}

.banner-button {
    border: none;
    width: 175px;
    height: 50px;
    border-radius: 25px;
    color: #202336;
    font-weight: bold;
    font-size: 1.25rem;
}

.responsive {
    width: 105%;
    height: auto;
}

.stats {
    display: flex;
    align-content: center;
    justify-content: center;
}

.stats-container {
    background-image: url('../assets/images/stats-background.png');
    width: 300px;
    height: 225px;
    border-radius: 12px;
    margin: 0 5% 0 5%;
    padding: 25px 25px;
}

.stats-title {
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.75rem;
    text-align: center;
    margin-top: 3%
}

.stats-button {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(#FF7151, #FFA16F);
}

.fas {
    font-size: 2rem;
    fill: white;
    color: white;
}

.stats-current {
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 2%;

}

.stats-number {
    margin-top: -4%;
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    display: none;
    z-index: 1;
}

.roadmap {
    margin-top: 6%;
    width: 100%;
    height: 600px;
    z-index: 2;
    /*background-color: #E4F8F1;*/
    background-image: url("../assets/images/goals-banner.png");

}

.roadmap-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.goals {
    width: 50%;
    height: 100%;
}

.goals-title {
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 4.0625rem;
    text-align: center;
    justify-content: center;
    margin-top: 6%;
}

.goals-stats {
    color: #2E3142;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.375rem;
    text-align: center;
    margin-top: 3%;
}

.goals-paragraph {
    margin-top: -1%;
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;

}

.goals-container {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.roadmap-illu {
    height: auto;
    max-height: 400px;
    width: 100%;
    max-width: 50%;
}

.calc-header {
    display: flex;
    align-content: center;
    justify-content: center;
}

.calc-container {
    margin-top: 5%;
    background-color: white;
    border-top: 1px solid #DADCE0;
    border-left: 1px solid #DADCE0;
    border-right: 1px solid #DADCE0;

    width: 45vw;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.calc-title {
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    height: 100%;
    font-size: 1.75rem;
    margin-top: 1.2%
}

.calculator {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
}

.calculator-container {
    background-color: white;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    width: 45vw;
    /*border-radius: 8px;*/
    border: 1px solid #DADCE0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

fieldset {
    margin-top: 3%;
    border: none;
    text-align: center;
}

.result {
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    height: 100%;
    font-size: 1.75rem;
}

.bmi-button {
    border: none;
    width: 125px;
    height: 40px;
    border-radius: 25px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 1.25rem;
}

.input {
    text-align: justify;
    color: #2E3142;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    font-size: 1.125rem;
}

.category {
    color: #2E3142;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    font-size: 1.5625rem;
}

.footer-title {
    color: #202336;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
    border-top: 1px solid #DADCE0;
    padding-top: 18px;
}
